


#L1 {
    display: block;
}

#L2,
.Searchbar  {
    display: none;
}




/*************SMALL SCREENS********************/
@media (min-width: 414px){
    .container {
        width: 404px;
    }
  
   
}
/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 760px;
    }

    
    .topnav a.icon {
        display: none;
    }

    .topnav a.active  {
        display: block;
    }

    .topnav img {
        margin: auto;
    }

    .topnav #myLinks {
        display: block;
    }
    .topnav a {
        display: inline-block;
    }
    #L2,
    .Searchbar {
        display: block;
    }
    #L1 {
        display: none;
    }

}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

#myLinks a {
    font-size: 19px;
}



}