
.floater-section {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.hide {
    display: hide;
}

.show {
    display: initial;
}

.clearfix {
    clear: both;
}

@media (min-width: 375px){
    .container {
        width: 367px;
    }

.contentdiv img {
    top: 70px;
    width: 130px;
    left: 124px;
}

.text h1 {
    left: 8px;
    top: 171px;
    font-size: 20px;
}
}

/*************SMALL SCREENS********************/
@media (min-width: 414px){
    .container {
        width: 404px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width: 66.6666%
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }

    .small-hide {
        display: hide;
    }

    .small-show {
        display: initial;
    }
    .contentdiv img {
        top: 77px;
        width: 130px;
        left: 140px;
    }
   .text h1 {
        left: 10px;
        top: 186px;
        font-size: 22px;
    }
}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 760px;
    }

    .med-width-25 {
        width: 25%;
    }
    
    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }

    .med-width-66 {
        width: 66.6666%
    }

    .med-width-75 {
        width: 75%;
    }

    .med-width-100 {
        width: 100%;
    }

    .med-hide {
        display: hide;
    }

    .med-show {
        display: initial;
    }
    .navbar ul,
    .hide {
        display: block;
    }
    .navbar .menu-toggle {
        display: none;
    }
    .contentdiv img {
        top: 150px;
        width: 250px;
        left: 270px;
    }
    
    .text h1 {
        left: 38px;
        top: 390px;
        font-size: 25px;
    }

  #Visit {
    font-size: 28px;
    width: 200px;
    height: 80px;
  }

  .form-input {
    width: 300px;
}
iframe {
    width:300px;
    height:368px;
}

.header1 h2 {
    display: block;
}

.container1 .background {
        height: 345px;
    
}

.Paragraph p {
    margin: auto;
}
.navbar .Logo {
    width: 150px;
    margin: 15px auto;
}
.floater {
    float: left;
    width: 254px;
}

.buttons {
    width: 508px;
}

.background {
    background-size: 191px;
    margin-top: 214px;
}
.position h1 {
    left: 15px;
    top: 42px;
    font-size: 59px;
}

.MN .header1 {
    height: 124px;
}

.padding {
    padding: 0px 0px 0px 20px;
}

.supercontainer {
    margin: auto;
}

.text {
    width: 400px;
}

.position .header1 {
    margin-bottom: 89px;
}

.superdiv {
width: 700px;
margin: auto;
}

}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }
    
    .large-width-66 {
        width: 66.6666%
    }

    .large-width-75 {
        width: 75%;
    }

    .large-width-100 {
        width: 100%;
    }

    .large-hide {
        display: hide;
    }

    .large-show {
        display: initial;
    }
    .contentdiv img {
        top: 187px;
        left: 329px;
        width: 350px;
    }

    .text h1 {
        top: 481px;
        font-size: 35px;
    }
    .form-input {
        width: 400px;
    }

    iframe {
        width:390px;
        height: 364px;
    }

    .tel p,
    .main h3,
    .main ul,
    .content h4 {
        font-size: 20px;
    }


.position h1{
    left: 85px;
    top: 36px;
    font-size: 72px;
}

.superdiv {
    width: 760px;
}
}
