body {
    margin: 0px;
}

.container {
    margin: 211px auto;
    width: 290px;
}

.navbar {
    width: 100%;
    background-color: white;
    height: 228px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 6;
    
}


.navbar ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 3px;
}

.navbar ul {
    height: 60px;
    min-height: 60px;
}


.navbar ul {
    display: none;
}

.navbar ul li {
    float: left;
    text-align: center;
    line-height: 84px;

}
.navbar ul li {
width: 20%;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    
}



.navbar ul li a:hover {
    font-size: 110%;
    border-bottom: 2px solid;
    padding: 10px 0px;
    width: 2px;
}

.menu-toggle {
    width: 40px;
    margin: 10px;
   display: block;
    background: transparent;
    border: transparent;
   float: right;
}
.stripe {
    display: block;
    margin-top: 4px;
    margin-bottom: 7px;
    width: 10px;
    height: 1px;
    
}
.stripe::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid black;
    width: 21px;
    
}

.content {
    min-height: 464px;
    text-align: center;
    padding: 10px;
}

.content img,
.Logo img {
    max-width: 100%;
}

.Logo {
    width: 173px;
    margin: 49px auto;
}


.relative {
    position: relative;
}


.contentdiv img, .text h1 {
    position: absolute;
}
.contentdiv img {
    top: 60px;
    width: 100px;
    left: 110px;
}
.text h1 {
    left: 8px;
    top: 147px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}

.submitbutton {
    width: 130px;
    background-color: white;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 13px;
    margin: 34px auto;
    display: block;
    margin-top: 71px;

}

#Visit {
    background-color: black;
    border: 2px solid rgb(75, 40, 40);
    font-size: 14px;
    color: white;
    width: 100px;
    height: 45px;
}

#Visit, 
#Direction,
#Sendmsg {
    padding: 12px;
    font-family: 'Quicksand', sans-serif;
}
#Direction {
    background-color: white;
    border: 2px solid rgb(75, 40, 40);
    font-size: 18px;
    color: black;
    width: 150px;
    height: 50px;
    margin-top: 17px;
    margin-bottom: 75px;
}

#Sendmsg {
    background-color: black;
    color: white;
    margin: 0px;
}

.hide {
    display: none;
}

.Paragraph p,
.SecP p {
    letter-spacing: 1px;
    line-height: 35px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
   
}

.img-container {
    text-align: center;
}


.header1 h2 {
    display: none;
}

.header2 {
    text-align: center;
    padding: 20px 0px;
}
.header2 h2{
    font-size: 25px;
    letter-spacing: 1px;
}

.Paragraph h3 {
    text-align: center;
    letter-spacing: 1px;
}

.address {
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}

.tel {
    text-align: center;
}

.address p {
    line-height: 28px;
    letter-spacing: 0.65px;
}

.address ul {
    list-style: none;
    padding: 0px;
    
}

.height {
    height: 470px;
}




.height .content {
    padding: 0px;
}

.h1 h1,
.header1,
.MH1 {
    padding: 25px 0px;
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 5.5px;
    font-family: 'Quicksand', sans-serif;
    height: 80px;
    margin-bottom: 50px;
}

.tel p,
.main h2 {
    color: #515151;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    
}

.content h3 {
    color: #565656;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 43px;
    font-size: 17px;
}

h4 {
    margin-top: 30px;
}

.main .content {
    min-height: 364px;
}

.form-input {
    display: block;
    width: 270px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
}

.content label {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  
}

.content form {
    text-align: left;
}

.content label {
    padding-bottom: 10px;
}

#Message {
height: 150px;
}

#Contact-img {
    min-height: 200px;  
}

  .bcontainer {
    padding-top: 37px;
  }

  .FirstAP{
      border-bottom: 1px solid black;
  }

 .LastAP p{
    padding-bottom: 20px;
}

.floater-sec {
    float: left;
}

.supercontainer .content{
    min-height: 0px; 
    }

.main h2 {
    font-size: 34px;
}

.supercontainer .floater-sec {
    display: block;
}

#CnT, 
#FB,
#CS,
#HC {
    border: 2px solid #564335;
    font-size: 18px;
    color: #564335;
    width: 194px;
    height: 64px;
    margin-top: 17px;
    margin-bottom: 75px;
    border-radius: 25px;

}