body {
    margin: 0px;
}

.container {
    margin: 50px auto;
    width: 290px;
}

.navbar {
    width: 100%;
    background-color: white;
    height: 62px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 6;
    
}


.navbar ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 3px;
}

.navbar ul {
    height: 60px;
    min-height: 60px;
}


ul {
    display: none;
}

.navbar ul li {
    float: left;
    text-align: center;
    line-height: 62px;

}
.navbar ul li {
width: 20%;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    
}



.navbar ul li a:hover {
    font-size: 110%;
    border-bottom: 2px solid;
    padding: 10px 0px;
    width: 2px;
}

.menu-toggle {
    width: 40px;
    margin: 10px;
   display: block;
    background: transparent;
    border: transparent;
   float: right;
}
.stripe {
    display: block;
    margin-top: 4px;
    margin-bottom: 7px;
    width: 10px;
    height: 1px;
    
}
.stripe::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid black;
    width: 21px;
    
}

.content {
    margin: 0px 10px;
    min-height: 530px;
    
}

.content img {
    max-width: 100%;
}

.relative {
    position: relative;
}


.contentdiv img, .text h1 {
    position: absolute;
}
.contentdiv img {
    top: 60px;
    width: 100px;
    left: 110px;
}
.text h1 {
    left: 8px;
    top: 147px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: fantasy;
}

.submitbutton {
    width: 130px;
    background-color: white;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 13px;
    margin: 34px auto;
    display: block;
    font-family: monospace;
    margin-top: 71px;

}

#Visit {
    background-color: black;
    border: 2px solid rgb(75, 40, 40);
    font-size: 14px;
    padding: 12px;
    color: white;
    font-family: fantasy;
    width: 100px;
    height: 45px;
}

.hide {
    display: none;
}

.Paragraph p {
    letter-spacing: 1px;
    line-height: 35px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 50px;
}

.img-container {
    text-align: center;
}

.header1 h1 {
    padding: 7px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}

.header1 {
    padding: 71px 0px;
    width: 200px;
    margin: auto;
}

.header2 {
    text-align: center;
    padding: 20px 0px;
}
.header2 h2{
    font-size: 25px;
    letter-spacing: 1px;
}

.Paragraph h3 {
    text-align: center;
    letter-spacing: 1px;
}
