body {
    background-color: #C5C3C6;
}

.container {
    background-color: #C5C3C6;

}

.red {
    background-color: white;
    background-image: url(pictures/1.jpg);
}

.red, .green, .blue, .cyan, .gray {
    background-position: center;
    background-size: cover;
}
.green {
    background-color: mediumpurple;
    background-image: url(pictures/5.jpg);
}

.blue {
    background-color: mediumseagreen;
    background-image: url(pictures/3.jpg);
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}

.blue p {
    position: absolute;
    top: -26px;
    left: 185px;
    transform: rotate(35deg);
    font-size: 41px;
    color: #FE4A49;
    border: 1px solid;
    border-radius: 185px;
    text-align: center;
    padding: 5px;
    right: 10px;
    
    
}


.blue p:hover {
    color: red;  
}

.yellow {
    background-color: #BAA898;
    
}

.yellow p::first-letter {

}

.yellow p {
    line-height: 1.8;
    letter-spacing: 0.8px;
    padding: 10px;
    margin-top: 20px;
    
}

.cyan {
    background-color: turquoise;
    background-image: url(pictures/2.jpg);
}
.gray {
    background-color: lightslategray;
    background-image: url(pictures/6.jpeg);
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 270px;
    margin-bottom: 20px;
    border-top: 2px solid;
    border-bottom: 2px solid;


}
.clearfix {
    clear: both;
}

.navbar {
    width: 100%;
    background-color:#2C2C54;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 6;
}


.navbar ul {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    list-style: none;
    padding-left: 3px;
    visibility: hidden;
    display: inline;
    min-height: 60px;
}

.navbar ul li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 50px;

}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li:hover {
    border: 1px solid rgb(0, 0, 0);
}

.menu-toggle {
    width: 40px;
    margin: 10px;
    visibility: visible;
   
}
.stripe {
    display: block;
    margin-top: 4px;
    margin-bottom: 7px;
    width: 10px;
    height: 1px;
}
.stripe::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 21px;
}

.navbar::before {
    content: " ";
}

.navbar::after {
    clear: both;
    content: " ";
}

/*************Small Screens**********************/
@media (min-width:450px){
    .small-width-25 {
        width: 25%;
    }
    .small-width-33 {
        width: 33.333%;
    }
    .small-width-50 {
        width: 50%;
    }
    .small-width-100 {
        width: 100%;
    }

    

}
/***********Medium Screens****************/
@media (min-width: 760px){
    .medium-width-25 {
        width: 25%;
    }
    .medium-width-33 {
        width: 33.333%;
    }
    .medium-width-50 {
        width: 50%;
    }
    .medium-width-100 {
        width: 100%;
    }
    .navbar ul {
        width: 100%;
        height: 60px;
        margin: 0 auto;
        list-style: none;
        visibility: visible;
    }

    .menu-toggle {
        visibility: hidden;
    }
}


/***************Large Screens********/
@media (min-width: 992px) {
    .large-width-25 {
        width: 25%;
    }
    .large-width-33 {
        width: 33.333%;
    }
    .large-width-50 {
        width: 50%;
    }
    .large-width-100 {
        width: 100%;
    }
}