

.container {
    display: none;
}

.Searchbar {
    display: none;
}

.Logo2 {
    display: none;
}

.navbar #myLinks {
    display: none;
}



.Firstpageopt h1 {
    display: none;
}


/*************SMALL SCREENS********************/
@media (min-width: 414px){
    .superdiv {
        width: 404px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width: 66.6666%
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }

    .section {
        height: 309px;
        background-position: 564px -33px;
    }

    .Pageoneh1 h1 {
        display: none;
    }
   
}
/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){

    .superdiv {
        width: 760px;
    }

    .med-width-25 {
        width: 25%;
    }
    
    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }

    .med-width-66 {
        width: 66.6666%
    }

    .med-width-75 {
        width: 75%;
    }

    .med-width-100 {
        width: 100%;
    }
  
    .SuperContainer {
        display: block;
    }

    .Firstpageopt {
        display: none;
    }


h1 {
    display: block;
}



#Sidebar ul li {
    display: inline-block;
}

 .togglebtn {
    display: none;
}

#Sidebar a {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 59px;
    font-size: 20px;
}



.mainimg img {
    width: 760px;
}

footer {
    width: 760px;
    margin: auto;
}

.Formcontainer,
.form-input {
    width: 397px;
}

.FullName {
    display: inline-block;
    padding-right: 49px;
  }
  
  #Name,
  #LastName,
  #City,
  #State,
  #ZipCode,
  #Phone,
  #Year,
  #Month,
  #SecurityCode,
  #State2 {
    width: 321px;
  }
  
  .FullName:last-child {
    padding-right: 0px;
  }

  #SubmitDonation button {
    width: 95px;
  }

  .AboutDonation p {
    margin: 38px 0px 0px; 
}

.topnav ul {
    padding-top: 134px;
    flex-direction: row;
}

.topnav a {
font-size: 18px;
}

.SecP {
    font-size: 22px;
}
.header1 h1 {
    line-height: 43px;
    padding: 113px 0px;
    font-size: 28px;
}
.overlay {
   height: 316px;
   width:  760px;
}

.background {
    height: 316px;
    background-position: 16px -13px;
}

.Pageoneh1 h1 {
    display: block;
}
.ImgContainer h3 {
    left: 47px;
}

.Blogdiv img {
    width: 255px;
    float: left;
}

.content img, .content2 img {
    max-width: 100%;
}
.Blogdiv .img-container {
    float: left;
    padding-right: 30px; 
}

.Blogdiv .AboutP {
    width: 220px;
}


#Archive .content3 {
    padding: 0px 20px 0px 0px;
  }



  


 .tel p {
    font-size: 22px;
}

#If2 {
    width: 300px;
    height: 225px;
}

.padding {
    padding: 0 0 0 20px;
}

.form-input {
    width: 300px;
} 

.Hover {
    padding-right: 12px;
}
.Logo1 img {
    width: 160px;
}

#SupportP p {
    font-size: 17px;
}

main h2 {
    margin: 30px 0px;
}

h2{
    font-size: 24px;
  }


}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    
    .superdiv {
        width: 960px;
      
    }


    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }
    
    .large-width-66 {
        width: 66.6666%
    }

    .large-width-75 {
        width: 75%;
    }

    .large-width-100 {
        width: 100%;
    }


.mainimg img {
    width: 960px;
}



footer {
    width: 960px;
    margin: auto;
}

.form-input,
.Formcontainer {
    width: 522px;
}


#Name, 
#LastName, 
#City, 
#State, 
#ZipCode, 
#Phone, 
#Year, 
#Month, 
#SecurityCode, 
#State2 {
    width: 403px;
}

.SecP h2 {
    font-size: 32px;
}

.SecPartoP {
    display: block;
  }

  

.topnav ul {
    top: 100px;
    left: 393px;
}

.topnav a {
    font-size: 20px;
}

.topnav li {
    width: 117px;
}

.overlay {
    height: 498px;
    width: 960px;
}

.background {
    height: 497px;
}


.AboutBlog {
    width: 250px;
}

.header1 h1 {
    padding: 173px 70px;
    font-size: 30px;
}

#SupportP p {
    font-size: 20px;
}

}