

.container {
    display: none;
}

.Searchbar {
    display: none;
}

.Logo2 {
    display: none;
}

.navbar #myLinks {
    display: none;
}

.SuperContainer {
    display: none;
}

h1 {
    display: none;
}

/*************SMALL SCREENS********************/
@media (min-width: 414px){
    .superdiv {
        width: 404px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width: 66.6666%
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }


   
}
/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){

    .superdiv {
        width: 760px;
    }

    .med-width-25 {
        width: 25%;
    }
    
    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }

    .med-width-66 {
        width: 66.6666%
    }

    .med-width-75 {
        width: 75%;
    }

    .med-width-100 {
        width: 100%;
    }
  
    .SuperContainer {
        display: block;
    }

    .Firstpageopt {
        display: none;
    }


h1 {
    display: block;
}



#Sidebar ul li {
    display: inline-block;
}

 .togglebtn {
    display: none;
}

#Sidebar a {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 59px;
    font-size: 20px;
}



.mainimg img {
    width: 760px;
}

footer {
    width: 760px;
    margin: auto;
}


}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    
    .superdiv {
        width: 960px;
      
    }


    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }
    
    .large-width-66 {
        width: 66.6666%
    }

    .large-width-75 {
        width: 75%;
    }

    .large-width-100 {
        width: 100%;
    }
    
.Logo1 img {
    width: 140px;
}

.mainimg img {
    width: 960px;
}



footer {
    width: 960px;
    margin: auto;
}

}