body {
  margin: 0px;
  font-family: serif;
}


#image {
  margin: auto;
  display: block;
}

.mainimg img {
    margin: auto;
    display: block;
}

#H1 {
  font-family: sans-serif;
  text-align: center;
}

#B1 {
  margin: auto;
  display: block;
}
.Logo1 img {
  width: 95px;
  display: inline;
  float: left;
  padding: 23px;
}

.superdiv {
  margin: auto;
}


.slidebar .Hover:hover {
  color: black;
  
}

.Firstpageopt .HColor{
  color: #c23062;
    border: 1px solid #c23062;
    font-size: 17px;
    border-radius: 5px;
    text-align: center;
    padding: 9px;
    letter-spacing: .5px;
    width: 95px;
    float: left;
    margin: 16px 30px 38px;
    text-decoration: none;
}



.Firstpageopt .HColor:hover {
  background-color: #ee79a2;
}

.Firstpageopt #Donate:hover {
  background-color: #ee79a2;
}

.Eventtext,
.AboutP,
.SecP,
.AboutDonation {
  
  letter-spacing: 0.7px;
  line-height: 30px;
}

.Eventtext{
  padding: 0px 5px;
}

.Eventtext {
  display: inline;
  float: right;
  width: 48%;
}
h2 {
  font-size: 24px;
  color: #1226b3e8;
  text-transform: uppercase;
}

.Firstpageopt {
  height: 168px;
  margin: 82px auto;
  width: 350px;
}

.Firstpageopt li {
  list-style: none;
}

.Firstpageopt li a {
  text-decoration: none;
  color: black;
}

#Donate {
  background: url(../Pictures/Hearticon.png);
  background-repeat: no-repeat;
  background-position: 90% 25%;
  background-size: 15px;

  
 
}

.Firstpageopt #Donate  {
  color: white;
}

h1 {
  border-bottom: 1px solid #c23062;
  padding: 10px 15px 40px;
    color: #E91E63;
    text-align: center;
    font-size: 28px;
}

.Eventcontainer {
  height: 350px;
  margin: 45px 0px;
}


li {
margin: 0px;
padding: 0px;
}
ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#Sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #c23062;
right: -200px;
  transition: all 1000ms linear;
}

#Sidebar:active {
  right: 0px;
}


#Sidebar ul li {
  color: white;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(64, 5, 92, 0.3);
}

#Sidebar .togglebtn {
  position: absolute;
  right:230px;
  top: 20px;
  margin: 54px 20px;
}

#Sidebar .togglebtn span {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px 0px;
  background-color: white;
  border-radius: 5px;
}

p a {
  text-decoration: none;
  color: #742282;
}


#EventsBtn {
  border-top: 1px solid #c23062;
  border-bottom: 1px solid #c23062;
  padding: 20px;
  color: #c23062;
  background-color: #ee79a2;
}

.EventsBtn button,
.SecP button,
.AboutP button,
.AboutDonation button,
.padding button,
.Direction button,
#ReadingclubBtn {
background-color: #c23062;
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    font-size: 28px;
    color: white;
    font-family: serif;
}

.EventsBtn button {
  font-size: 19px;
}

.SecP button,
.AboutP button{
  padding: 12px;
  font-size: 18px;
}


.EventsBtn {
  text-align: center;
  border-top: 1px solid #c23062;
  border-bottom: 1px solid #c23062;
  padding: 50px 0px;
}



.floater-sec {
  float: left;
  position: relative;
}

.content{
  min-height: 226px;
  text-align: center;
}

.maincontainer .Mainpart {
  text-align: left;
}



.clearfix {
  clear: both;
}

.content img,
.content2 img {
  max-width: 100%;

}

.content img{
  filter: opacity(50%);
}


#Solid1{
  background-color: #1d35e1e8;
}

#Solid2 {
  background-color:#581085;
}

#Solid3 {
  background-color:#c23062;
}

#Solid4 {
  background-color:#581085;
  
}

#Solid5 {
  background-color:#00a1ffc7;
  
}

#Solid1 h3,
#Solid2 h3,
#Solid3 h3,
#Solid4 h3,
#Solid5 h3 {
  color: white;
}
#Solid1:hover,
#Solid2:hover,
#Solid3:hover,
#Solid4:hover,
#Solid5:hover {
  background: rgba(0, 90, 193, 0.7);
  transition: all ease 0.5s;
}









.ImgContainer {
  margin-top: 84px;
}




section {
  width: 100%;
  background: url(../Pictures/pic2.jpg);
  background-size: cover;
  position: relative;
  height: 226px;
}

.Overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: transparent;

}


.Overlay:hover {
  background: rgba(0, 90, 193, 0.7);
  transition: all ease 0.5s;
    color: white;
    letter-spacing: 1px;
    font-size: 21px;
}

.floater-sec section h3 {
    color: transparent;
}

.floater-sec .Overlay h3{
  margin: 0px;
  padding: 96px 46px 106px 60px;
  color: transparent;
}

.floater-sec .Overlay h3:hover {
 color: white;
}

#Solid h3 {
color: white;
}


/* To have the images in image gallery zoom in without using jquery
.Hcolor:hover section {
  background-size: 120%;
  background-position: center;
} */


.Container1 {
  margin: 55px auto;
}

.ImgContainer h3{
  color: white;
  letter-spacing: 1px;
  font-size: 21px;
  text-align: center;
}

.Header h1 {
  text-align: center;
  border-bottom: 1px solid #E91E63;
}

.Eventtext p {
  padding: 0px 10px;
    margin: 0px;
}

.AboutP p::first-letter,
.Quote p::first-letter,
.SecP P::first-letter,
.Eventtext p::first-letter,
.Connectp p::first-letter  {
  font-size: 28px;
  font-family: serif;
}

.AboutP,
.AboutDonation  {
  padding: 30px 0px;
}


.Quote {
  margin: 30px auto 0px;
  padding: 30px;
  letter-spacing: 1.2px;
  line-height: 39px;
  font-size: 22px;
  text-align: center;
}

.Q1 {
  text-align: left;
  
}


.Q2 {
  text-align: right;
}
  
.SecP{
  text-align: left;
}

.StoryContainer {
  padding: 0px 20px;
}

.Storydiv{
  padding: 30px 25px;
}


.SecP h2 {
  text-align: left;
}

.StoryRight {
  float: right;
}

.Storyleft,
.AboutStory {
  float: left;
}

.Storyleft {
  margin-top: 42px;
}

.content3 {
  padding: 20px;
}

.AboutP h3,
.AboutDonation h3 {
  font-size: 24px;
  color: #1226b3e8;
}

h1{
  font-size: 30px;
}


.SupportH1 h1{
    line-height: 56px;
    color: white;
    font-size: 42px;
    letter-spacing: 1.2px;
    border: 0px;
}

.section .Overlay {
  background: rgba(0, 90, 193, 0.6);
}


#SupportP button {
  display: block;
    margin: 20px auto;
    padding: 30px;
    font-size: 23px;
}
.AboutDonation p {
  margin-top: 55px;
}

.AboutDonation button {
  margin-top: 13px;
  font-size: 18px;
  display: block;
  margin: 20px 0px;
}

.Formcontainer {
  width: 390px;
  padding: 0px 0px 0px 20px;
}

.form-input {
  display: block;
  width: 360px;
  padding: 10px 0px;
  border: 1px solid #e1e1e1;
  background-color: #f8f8f8;
  border-radius: 5px;
}

label {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;

}

fieldset {
  border: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.UText {

  margin: 5px 0px 20px;
}

.Display {
display: block;
margin: 30px 0px;
}

#SNote {
  margin-top: 20px;
}

#Recipient {
  height: 110px;
}

#Note {
  height: 200px;
}

#DType {
  margin-bottom: 0px;
}

#SubmitDonation {
  padding: 0px;
  
}

#SubmitDonation button {
  width: 360px;
  margin-bottom: 20px;
}

#SubmitDonation input {
  font-size: 19px;
  color: white;
}

.AmericanExpress,
.MasterCard,
.Visa {
  display: inline-block;
}


.AmericanExpress img,
.MasterCard img,
.Visa img {
  width: 50px;
}

.form-radio {
  margin-bottom: 20px;

}




/* Navbar */

  
.topnav {
  overflow: hidden;
  background-image: linear-gradient(to right, #101385 , #c23062);
  height: 213px;
  
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
}


.topnav a:hover {
  font-size: 18px;
 
}

.active {
 
  color: black;
}

.topnav .icon {
  display: none;

}


.topnav li {
    list-style: none; 
}

.topnav li:last-child {
  display: block;
  
}


.topnav a {
  display: none;
  
}
@media screen and (max-width: 760px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
 
}

@media screen and (max-width: 760px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 250px;
  }
  .topnav.responsive a {
   
    display: block;
    text-align: left;
  }
}



@media screen and (min-width: 600px) {
  .topnav a {
      display:block;
      
  }
  
    
}

.Logo1 {
  float: left;
  height: 190px;
}

.header1 {
  margin-bottom: 20px;
 
}
.background {
  height: 248px;
  background-image: url(../Pictures/history.jpg);
  background-size: cover;
  position: relative;
}
.header1 h1 {
  background-color: rgba(0, 90, 193, 0.7);
  margin: 0px;
  padding: 15px 19px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 33px;
    position: absolute;
    top: 52px;
}

.overlay {
  position: absolute;
    width: 404px;
    height: 248px;
    background: rgba(0, 90, 193, 0.3);
}

#SupportP p {
  letter-spacing: 1px;
  line-height: 35px;
}

#SupportP h2 {
  text-align: left;
}


.AboutDonation p {
 margin: 0px 0px 15px;
}

.AboutP button {
  display: block;
  margin: 20px 0px;
}

.Blogdiv img {
  width: 255px;
  float: left;
}

.Blogdiv .img-container {
  float: left;
  padding-right: 30px;
}

.Blogdiv .AboutP {
  width: 220px;
    float: left;
    display: inline;
    padding: 10px 0px;
}

.Blogdiv .AboutP h2 {
  display: inline;
  margin: 0px;
  font-size: 20px;
  letter-spacing: 2px;
}


.Blogdiv .AboutP h3 {
  margin: 0px;
    font-size: 15px;
}

.Blogdiv .AboutP a {
 text-decoration: none;
}

.AboutBlog a{
text-decoration: none;
}

.AboutBlog li{
  list-style: none;
  text-align: center;
  color: #1226b3e8;
  }

  .AboutBlog {
    background-color: #EEEEEE;
  }

  .AboutBlog h2,
  .Blogdiv .AboutP h2{
   color: black;
  }

#SupportP h2 {
  color: #E91E63;
  font-size: 28px;
}

.Quote p {
  font-weight: bold;
}

.SecPartoP {
  display: none;
}

#Section3 {
  background: url(../Pictures/0.png);
    background-size: cover;
}

#Section2 {
  background: url(../Pictures/b.jpg);
  background-size: cover;
}


#Section1 {
  background: url(../Pictures/c.jpg);
  background-size: cover;
}



.Blogdiv img {
  width: 100%;
}

.Blogdiv .img-container {
  padding-right: 0px; 
}

.Blogdiv .AboutP {
  width: 307px;
}

.AboutBlog li {
  font-size: 23px;
}


#Archive .AboutP {
  padding: 10px 0px;
}

.Hover {
  padding-right: 57px;
}

.Firstpageopt ul {
  display: inline-block;
}


.topnav .Hover {
  width: 175px;
}

.superdiv p {
  font-family: sans-serif;
 
}

.Overlay p {
  color: transparent;
}

.fa.fa-bars  {
  font-size: 35px;
    padding: 35px 10px 0px;
}

.floater-section {
  float: left;
}

.padding form {
 text-align: left; 
}

.padding form input {
  margin-bottom: 20px;
 }


 .Pageoneh1 h1 {
   border: none;
 }

 .tel span {
   font-weight: bold;
   font-family: serif;
 }

 
.tel {
  margin: 66px 0px;
}


.Dropdown-Content:hover {
  background-color: rgba(94, 45, 61, 0.692);
}

 .Dropdown-Content {
   display: none;
   position: absolute;
   min-width: 200px;
   background-color: rgba(233, 30, 98, 0.692);

 }

 .Dropdown:hover .Dropdown-Content{
   display: block;
 }

 .Dropdown {
  position: relative;
 }
#myP {
  
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #76e876;
    
  }

  .FirstWord {
    font-size: 27px;
    font-family: serif;
  }

  #SubmitDonation button {
    float: left;
  }

  .padding #myP {
  width: 190px;
  }



  #slider {
    opacity:1;
    transition: opacity 1s; 
}

#slider.fadeOut {
    opacity:0;
}

.Connectdiv {
  height: 332px;
}

.Direction button {
  margin: 18px 0px;
}

.Blogdiv {
  float: left;
}

.ArchiveContainer {
  display: inline;
}

.Eventpic {
  float: left;
}

.Eventpic img {
  width: 186px;
  padding: 7px 0px 25px;
  display: block;
}

.mainimg {
  margin-top: 130px;
}

/* New nav */

header {
  background-image: linear-gradient(to right, #101385 , #c23062);
  position: fixed;
  top: 0px;
    z-index: 100;
}

.nav-controller {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  overflow: hidden;
  height: 130px;
  width: 404px;
}
.submenu-toggle {
  color: black;
}



.logo {
  width: 100px;
  padding: 14px 10px;
}

.nav-toggle {
  padding: 10px 20px;
  
}

nav,
.submenu {
  display: none;
}

.open {
  display: block;
  width: 200px;
  background: #ebebeb;
  float: right;
  padding: 0px;
  position: absolute;
  right: 0px;
}


ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

ul li {
  padding: 10px 0px;
  list-style: none;
  margin-left: 35px;
}

.Hover a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}



.Hover a:hover,
.submenu-toggle:hover,
.submenu li a:hover {
  color: #21c1dd;
}

.submenu ul:hover {
  border-bottom: 1px solid #21c1dd;
}


.nav-toggle {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}



.hamburgerIcon {
  height: 4px;
  width: 32px;
  position: absolute;
  top: 13%;
  right: 10%;
  background-color: white;
  transform: translate(-50%,-50%) rotate(0deg);
  border-radius: 5px;
}
.hamburgerIcon::before,
.hamburgerIcon::after {
      content: "";
      position: absolute;
      height: inherit;
      border-radius:inherit;
      background-color: inherit;
      margin: auto;
      width: 50%;
  }
.hamburgerIcon::before {
  top:-8px;
  left: 0px;
  transform-origin: left;
  border-radius: 5px;
}


.hamburgerIcon::after {
  bottom:-8px;
  right: 0px;
  transform-origin: right;
  border-radius: 5px;
}

/* end of nav */

.Eventtext span {
  display: none;
}

.Header2  {
  text-align: center;
}

.Story p {
  line-height: 34px;
}

.background {
  margin-top: 129px;
}

.content3 ul {
  flex-direction: column;
}
.Eventtext h2 {
  margin: 0px;
  padding: 0px 0px 20px 10px;
}

#ReadingclubBtn {
  font-size: 13px;
  padding: 7px;
  
}

.SupportP {
  padding: 30px 20px;
  font-size: 18px;
  line-height: 44px;
}

.SupportP h2 {
  color: #E91E63;
}

#DonationBtn button {
    padding: 17px;
    font-size: 23px;
}

#DonationBtn span {
  font-weight: bold;
}

.AboutBlog h2 {
  text-align: center;
}
.AboutBlog li {
  margin: 0px;
}


.AboutBlog{
  width: 179px;
}

.Blog button {
  margin: 20px 0px 47px;
}

#blog {
  margin: auto;
}
.Header2 h2 {
  border-bottom: 1px solid #1226b3e8;
  padding: 26px;
}



.Connectp p {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}
#address{
  line-height: 19px;
    margin-top: 20px;
}

.custom-width .img-container img {
  width: 100%;
}

.custom-width  {
  display: none;
}


.tel {
  padding: 0px 20px;
  margin: 10px 0px 15px;
}

.form .form-input {
  width: 362px;
}



.BTN #SubmitDonation button {
  width: 93px;
  padding: 7px;
  font-size: 14px;
  margin-bottom: 98px;
}

.Connectdiv {
  padding: 0px 20px;
}
#SupportP {
  margin-top: 130px;
  padding: 30px 20px;
}

.RCiframe {
  margin: auto;
  width: 364px;
  margin-bottom: 20px;
}

.RCiframe iframe {
    width: 100%;
   height: 250px;
}

.RCh2  h2 {
  padding: 20px 0px;
  margin-top: 0px;
}

#If2 {
  width: 100%;
  height: 200px;
}

.Direction {
  width: 362px;
  margin: auto;
}
#DonationBtn button {
  margin: 20px auto;
}