 body {
     margin: 0px;
 } 
.red {
    background-color:#EBBC15;
}

.green {
    background-color: #5F5E63;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.cyan {
    background-color: #270F09;
}

.purple {
    background-color: plum;
}

.bloodred {
    background-color: #491400;
}
.content {
    position: relative;
}

#vertCenter1,
#vertCenter2,
#vertHorizCenter1 {
    height: 300px;
    width: 50%;
    margin: 0 auto;
}

#vertHorizCenter2 {
    height: 600px;
}



#Lorem1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px; /* MARGINS affect the centering in this method! */
    padding: 20px;
    font-size: 32px;
    color: white;
    letter-spacing: .80px;
    text-align: center;
}

#vertHorizCenter1 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;

    /* Half the width accounting for padding and border */
    margin-left: -233px;
    width: 414px;
    
    /* Half the height accounting for padding and border */
    margin-top: -44px;
    height: 56px;
    
    background-color: beige;
}

#vertHorizCenter2 p {
    position: absolute;
    top: 50%;
    left: 50%;
 font-size: 17px;
    transform: translate(-50%, -50%);
letter-spacing: .50px;
    margin: 0px;
    text-align: center;
    color: white;
}

.container .center {
    text-align: center; 
    height: 800px;
    position: relative;
    resize: vertical;
    overflow: auto;
}

#vertCenter1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    resize: vertical;
    overflow: auto;
    width: 100%;
    height: 100%;
}

#vertCenter3 {
    height: 300px;
    width: 100%;
}