 body {
     margin: 0px;
 } 

 .container {
    margin: 0 auto;
    width: 500px;
    background-color: #9E9E9E;
    padding: 10px;
    height: 6244px;
 }
.red {
    background-color:#EBBC15;
}

.green {
    background-color: #5F5E63;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.cyan {
    background-color: #270F09;
}

.purple {
    background-color: plum;
}

.bloodred {
    background-color: #491400;
}
.content {
    position: relative;
}

#vertCenter1,
#vertCenter2,
#vertHorizCenter1 {
    height: 300px;
    margin: 0 auto;
}

#vertCenter1 {
    height: 717px;
}

#vertHorizCenter2 {
    height: 750px;
}



#Lorem1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px; /* MARGINS affect the centering in this method! */
    padding: 20px;
    font-size: 35px;
    line-height: 50px;
    color: white;
    letter-spacing: 1.70px;
    text-align: center;
    font-weight: 400;
}

#vertHorizCenter1 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;

    /* Half the width accounting for padding and border */
    margin-left: -238px;
    width: 414px;
    
    /* Half the height accounting for padding and border */
    margin-top: -120px;
    height: 180px;
    
    background-color: #5f5e63;
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: 1.7px;
    font-weight: 400;
}

#vertHorizCenter2 p {
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 25px;
    transform: translate(-25%, -25%);
    letter-spacing: 1.70px;
    margin: 0px;
    color: white;
    line-height: 32px;
    padding: 0px 0px 98px 0px;
    font-weight: 100;
}

.center,
.BG {
    text-align: center; 
    height: 800px;
    position: relative;
    resize: vertical;
    overflow: auto;
}

.BG {
    height: 747px;
}
#vertCenter1 img {
    width: 458px;
    padding: 10px;
}

#vertCenter1,
#vertCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    resize: vertical;
    overflow: auto;
    width: 100%;
}

#vertCenter3 {
    height: 300px;
    width: 100%;
}

.flex {
    background: #5f5e63;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    resize: vertical;
    overflow: auto;
    font-size: 25px;
    letter-spacing: 1.2px;
    line-height: 32px;
    padding: 40px;
  }

  .flex p {
    margin: 0;
    padding: 20px;
    
  }

  
  .parent {
    background: white;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;

  }

  .parent .content {
    background: black;
    color: white;
    padding: 20px;
    resize: vertical;
    overflow: auto;
    text-align: center;
  }

   /* Centering block with known width and height Both horizontally and vertically */
.maindiv {
    position: relative;
    background: black;
    height: 200px;
    width: 500px;
    resize: both;
    overflow: auto;
}

.maindiv .content {
    background: black;
  color: white;
  width: 200px;
  height: 100px;
  margin: -70px 0 0 -120px;  /*impo*/
  position: absolute;
  top: 50%;    /*impo*/
  left: 50%; /*impo*/
  padding: 20px;
}

/* Centering block with unknown width and height Both horizontally and vertically */



.childdiv {
    background: black;
  color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
  text-align: center;
}

.childdiv img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.content p::first-letter {
    line-height: 40px;
    letter-spacing: 5px;
    font-family: cursive;
    font-size: 60px;
    line-height: 70px;
}

